
@mixin container{
    width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}

.container {
    @include container;
    margin-top: -80px;
    padding: 80px 0 120px;
    box-sizing: border-box;
    min-height: 100%;
}
.header{
    height: 80px;
    background-color: #20a0ff;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 80px;
    z-index: 100;
    position: relative;
    h1{
        margin: 0;
        float: left;
        font-size: 32px;
        font-weight: 400;
    }
    .container{
        @include container;
    }
}

.footer{
    height: 120px;
    background-color: #000;
    color: #a4aebd;
    width: 100%;
    z-index: 1000;
    margin-top: -120px;
    a{
        color: #4d4d4d;
        display: block;
        line-height: 120px;
        height: 120px;
        padding-left: 20px;
        text-decoration:none;
        span{
            display: block;
            font-size: 0.8rem;
            margin-bottom: 0.4rem;
        }
    }
}
