{{#extend "default"}}
    {{#content "head"}}
        {{{parseUrl 'home.css'}}}
    {{/content}}
    {{#content "body"}}
        <div id="app"></div>
        {{{parseUrl 'home.js'}}}
    {{/content}}
{{/extend}}
