{{#extend "layout-default"}}
    {{#content "head"}}
        {{{parseUrl 'app.css'}}}
    {{/content}}
    {{#content "body"}}
        <div id="not-found-app"></div>
        {{{parseUrl 'app.js'}}}
    {{/content}}
{{/extend}}
