{{#extend "layout-default"}}
    {{#content "head"}}
        {{{parseUrl 'app.css'}}}
    {{/content}}
    {{#content "body"}}
        <div id="home"></div>
        {{{parseUrl 'app.js'}}}
    {{/content}}
{{/extend}}
