<!doctype html>
<html>
<head>
    {{{parseUrl '/header.js'}}}
    {{#block "head"}}
        <title>{{title}}</title>
    {{/block}}
</head>
<body>
    {{#block "body"}}
        模板body
    {{/block}}
    <div id="app"></div>
    {{{parseUrl '/app.js'}}}
    {{#block "footer"}}
        模板footer
    {{/block}}
    {{{parseUrl '/footer.js'}}}
</body>
</html>
