<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    {{{parseUrl 'header.js'}}}
    {{#block "head"}}
    {{/block}}
</head>
<body>
<header class="header">
    <div class="container">
        <h1>
            header
        </h1>
    </div>
</header>
    <div class="container">
     {{#block "body"}}{{/block}}
    </div>
<footer class="footer">
    <a href="https://github.com/xxx-fe/mall-app">
        <strong>GitHub</strong>
    </a>
</footer>
{{{parseUrl 'footer.js'}}}
</body>
</html>
