<!doctype html>
<html>
<head>
    {{#block "head"}}
        <title>{{title}}</title>
    {{/block}}
</head>
<body>
    {{#block "body"}}
        模板body
    {{/block}}
    <div id="app"></div>
    <script type="text/javascript" src="/app.js"></script>
    {{#block "footer"}}
        模板底部
    {{/block}}
</body>
</html>
