<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="" src="">
    <script type="text/javascript" src="/header.js"></script>
    {{#block "head"}}
        <title>{{title}}</title>
    {{/block}}
</head>
<body>
    {{#block "body"}}
        模板body
    {{/block}}
    <div id="app"></div>
    <script type="text/javascript" src="/app.js"></script>
    {{#block "footer"}}
        模板footer
    {{/block}}
    <script type="text/javascript" src="/footer.js"></script>
</body>
</html>
