<!doctype html>
<html>
<head>
    {{#block "head"}}
        <title>{{title}}</title>
    {{/block}}
</head>
<body>
    {{#block "body"}}
    	<p>111111111111</p>
        <h2>Hello World</h2>
    {{/block}}
    {{! <script type="text/javascript" src="/app.js"></script>}}
</body>
</html>