body {
    min-width: 1200px;
    font-size: 12px;
    background: #f9f9f9;
}

.container {
    width: 1200px;
    *zoom: 1;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.text-center {
    text-align: center;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
