{{#extend "layout-example"}}
    {{#content "head"}}
        {{{parseUrl 'example2.css'}}}
    {{/content}}
    {{#content "body"}}
        <div id="example2-app"></div>
        {{{parseUrl 'example2.js'}}}
    {{/content}}
{{/extend}}
