{{#extend "layout-example"}}
    {{#content "head"}}
        {{{parseUrl 'example3.css'}}}
    {{/content}}
    {{#content "body"}}
        <div id="example3-app"></div>
        {{{parseUrl 'example3.js'}}}
    {{/content}}
{{/extend}}
