{{#extend "layout-default"}}
    {{#content "head"}}
        {{{parseUrl 'other-app.css'}}}
    {{/content}}
    {{#content "body"}}
        <div id="other-app"></div>
        {{{parseUrl 'other-app.js'}}}
    {{/content}}
{{/extend}}
